.SearchBarContainer{
    font-size: 48px;
    width: 60%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.SearchBarContainer form{
 padding: 5px 15px;
 width: 80%;
 margin: auto;
 display:flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.lens{
    font-size: 30px;
    position: absolute;
    right:88px;
    bottom: 5px;
    border: 1px solid lightslategray;
    height: 40px;
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

input{
    height: 30px;
    width: 80%;
    border-radius: 2px;
    border: 1px solid lightslategray;
    outline: none;
    padding: 5px 15px;
    font-size: calc(15px + 0.5vw);
}

.searchIcon{
    padding: 0.3vw;
}

.navbar{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px ;
    background-color: white;
}

.menuIcon{
    margin: 0px 10px;
}

.ytIcon{
    height: 20px;
    margin: 0 1vw;
}

.navbar_left{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar_right{
    width: 120px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.navbar_right_A{
    font-size: 24px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    background-color: #00887A;
    color: white;
}


.navbar_rightIcon{
    position: relative;
    font-weight: lighter;
}

.navbar_rightIconCount{
    position: absolute;
    font-size: 9px;
    padding: 2px;
    background-color: red;
    color: white;
    left: 55px;
    bottom: 15px;
    border-radius: 50%;
}

@media screen and (max-width:600px) {
    .navbar_right{
justify-content: flex-start;
width: fit-content;
margin-right:3px ;
    }
    .menuIcon{
        margin: 0px 5px;
    }
    
    .ytIcon{
        height: 15px;
    }
    .navbar{
        margin: 0;
        padding: 10px 0;
    }
    .navbar_rightIcon{
        margin: 0 3px;
    }
    input{
        height: 30px;
        padding: 5px;
    }
    .lens{
        right: 40px;
    }
    .navbar_rightIcon{
        font-size: 14px
    }
    .navbar_rightIconCount{
        left: 40px;
    }
}